.navbar-main {
  min-width: 100vw;
  }

  .show {
    display: flex;
    flex-direction: column;
    // position: relative;
    justify-content: flex-end;
    // text-align: right;
    // right: 50%;
    
  }
  .navbar-collapse {
    align-items: flex-end !important;
    // width: 100px;
  }
  
  .navbar {
    background-color: rgb(213, 54, 54);
    
    .navbar-brand {
      margin-right: 0px;
    }
    .nav-link {
      margin-inline: 10px;
      display: flex;
      // justify-content: flex-end;
      font-weight: bold;
      text-align: left;
    }
  }

  .navbar>.container {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    flex-wrap: nowrap !important;
  }
  
  .banner {
    max-width: 600px;
    font-weight: bolder;
    font-size: 2rem;
    text-align: center;
    text-shadow: 2px 2px 2px black;
    // left: 130px;
    position: relative;
  }

  @media screen and (max-width: 991px) {
    .navbar-collapse {
      width: 140px;
    }
  }

  @media screen and (max-width: 560px) {
    .banner {
      font-size: 1.3rem;
    }
    img.navbar-image {
      width: 70px !important;
      height: 50px !important;
    }
  }
  