
.fit {
  height: calc(100vh - 8vh - 96px);
}

.single-game-page-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url('./images/All-games.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  overflow: scroll;
  .single-game-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid rgb(213, 54, 54);
    padding-inline: 30px;
    margin-block: 30px;
    background-color: transparent;
  }
}

.single-game-title-container {
  margin: 0;
  max-height: 70px;
  .single-game-title{
    text-align: center;
    color: rgb(213, 54, 54);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 1);
    font-weight: bold;
    margin-bottom: 10px;
  }
}

.single-game-description-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.single-game-image {
  border: 1px solid rgb(213, 54, 54);
  width: 400px; 
  height: 320px;
}

.single-game-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-block: 30px;
  .single-game-description {
    margin-block: 10px;
    text-align: center;
    color: rgb(213, 54, 54);
    font-weight: bold;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
    background-color: rgba(0, 0, 0, 0.5)
  }
.genres {
  display: flex;
  justify-content: center;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}
.genres-one {
  margin-inline: 5px;
}
}

.single-game-button-container {
  margin-bottom: 10px;
}

.single-game-buttons {
  width: 100px;
  margin-inline: 20px;
  border-radius: 6px;
  background: white; 
  background: rgba(255, 255, 255, 0.5); 
  color: black;
  font-weight: bold; 
  text-align: center; 
  text-decoration: none; 
  letter-spacing: 1px; 
  transition: all 0.3s ease-out;
  border-color: rgb(213, 54, 54);
  &:hover {
    background: rgb(32, 36, 33); 
    background: rgba(73, 72, 72, 0.5);
    color: rgb(213, 54, 54);
  }
}
.average {
  color: #FFD700;
  position: relative;
  margin-right: 0;
  font-size: 13px;
  width: 86px;
  top: 130px;
  left: 150px;
  background: black;
  text-align: center;
}
@media screen and (max-width: 500px){
  .single-game-page-body {
  .single-game-page-container {
    font-size: 12px;
  }
}

.average {
  // left: 120px;
  // top: 40px;
  top: 100px;
  left: 110px;
}
  .single-game-title, .single-game-description {
    font-size: 1rem;
  }
  .single-game-image {
    width: 300px;
    height: 240px;
  }
}
@media screen and (max-width: 380px){
  .single-game-image {
    width: 240px;
    height: 200px;
  }
  .single-game-page-body {
  .single-game-page-container {
    padding: 15px;
  }
}
.average {
  // left: 95px;
  left: 90px;
  top: 110px;
}
}